.studio-right-sidebar div { padding: 1rem; }

.studio-right-sidebar i {
	font-size: 32px;
	vertical-align: -4px;
}

.studio-right-sidebar h3 {
	font-size: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 0.5rem;
	padding: 0 0 0.5rem;
}

.studio-right-sidebar label {
	font-size: 16px;
	line-height: 32px;
	color: var(--text-colour);
	margin: 0;
	padding: 0;
}

.studio-right-sidebar label span {
	display: inline-block;
	margin-right: 0.5rem;
}

.studio-right-sidebar dl + dl { margin-top: 0.5rem; }
.studio-right-sidebar dd + dd { padding-top: 0; }
.studio-right-sidebar dd { text-align: right; }

.studio-right-sidebar input[type="checkbox"] { display: none; }

.studio-right-sidebar input[type="checkbox"] + i { color: var(--red); }
.studio-right-sidebar input[type="checkbox"]:checked + i { color: var(--green); }

.studio-right-sidebar input[type="checkbox"] + i:before { content: "\f204"; }
.studio-right-sidebar input[type="checkbox"]:checked + i:before { content: "\f205"; }

.studio-settings-colour {
	display: none;
}

.studio-settings-colour + i {
	border: 2px solid var(--bg-colour);
	border-radius: 50%;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 0.5rem;
}

.studio-settings-colour:checked + i {
	box-shadow: 0 0 0 2px var(--text-colour);
}

.studio-settings-radio { display: none; }
.studio-settings-radio + i:before { content: "\f10c"; }
.studio-settings-radio:checked + i:before { content: "\f192"; }
.studio-settings-radio:checked + i { color: var(--green); }

/* Search page */
.studio-search-results ul {
	margin: 0;
	list-style: none;
}

.studio-search-results ul ul { margin-left: 16px; }
.studio-search-result { margin-bottom: 8px; }
.studio-search-result > a > strong { display: block; }

.studio-search-result > a > span {
	font-size: 12px;
	display: block;
}

.studio-search-result > a {
	text-decoration: none;
	color: var(--text-colour);
}

.studio-search-result > a:hover > strong {
	text-decoration: underline;
}

.studio-search-highlight {
	font-size: 14px;
	background: var(--bg-colour);
	border: 1px solid #2196f3;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 16px 8px;
}

.studio-search-highlight dt { padding-right: 8px; }
.studio-search-highlight dt > label { font-size: 15px; }
