@import url("base.css?v=3.2");
@import url("bidi.css?v=3.3");
@import url("boxes.css?v=3.2");
@import url("buttons.css?v=3.2");
@import url("colours.css?v=3.2");
@import url("input.css?v=3.2");
@import url("layout.css?v=3.2");
@import url("menu.css?v=3.2");
@import url("notifications.css?v=3.2");
@import url("pagination.css?v=3.2");
@import url("panels.css?v=3.2");
@import url("settings.css?v=3.2");

@import url("responsive.css?v=3.2");
